/*
Source code: AlexCG Design
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.titulo {
    color: #1b9d54;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/*HEADER*/

header {
    width: 100%;
    height: 300px;
    background: #11998e;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(143, 85%, 58%, 0.253), hsla(175, 80%, 33%, 0.671)), url(../imagenes/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(143, 85%, 58%, 0.253), hsla(175, 80%, 33%, 0.671)), url(../imagenes/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50 0 0;
}

nav>a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    margin-right: 16px;
}

nav a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*Sobre nosotros*/

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #1b9d54;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*JUEGOS*/

.juegos {
    background: #f2f2f2;
}

.galeria-juegos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-jueg {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-jueg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(140, 91%, 27%, 0.74);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-jueg:hover .hover-galeria {
    transform: scale(1);
}

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #00ff37;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

.formLogin{
    padding: auto;
}